py310env/*
py311env/*
.*
!.gitignore
*.h5ad
*.h5
core.*
notebook_state.pkl
*.error
*.out
*.log

Animate_UMAP/CAMR_metadata.txt
Animate_UMAP/animate_UMAP.2024-06-25_11-14-28-EDT.sessionInfo
Animate_UMAP/animated_UMAP.html
Animate_UMAP/camr_filtered.RDS
Animate_UMAP/harmony_bastardization_project.html
Animate_UMAP/harmony_bastardization_project_large.html
Animate_UMAP/harmony_bastardization_project_small.html
spreadsheets/csv_same
spreadsheets/ovr_top_20_genes_by_cell_type_reproduction.csv

models/




